@charset "ISO-8859-1";
	body
	{
		background-image: url(../images/buynow.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		position: relative;
		height:100%;
	}
	hr
	{
		border:1px solid black;
	}
	h1.capitalize{
		text-transform: capitalize;
	}
	.content{
		padding-bottom: 2.5rem;
	}
